@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@{
    var pField = Model.Items.Where(x => x.Fields.IsMainProduct == true).FirstOrDefault().Fields;
}

<!-- Popup Fly-->
<div class="fly-popup">
    <div class="popup">
        <div class="popup-price fly-top">
            <span>Proje Bazlı Tekliflendirilmektedir.</span>
        </div>
        <div class="popup-tabs">
            <a href="/iletisim/bize-ulasin?product=FLY">
                <div class="popup-tabs-buy">
                    <span>Satın Al</span>
                </div>
            </a>
            <a href="/iletisim/bize-ulasin?product=FLY">
                <div class="popup-tabs-rent">
                    <span>Kirala</span>
                    <span>*Tek seferlik bir giriş bedeli alınmaktadır.</span>
                </div>
            </a>
        </div>
        <div class="popup-content">
            <div class="popup-content-left">
                <img src="/Frontend/dist/images/products/pop-up/products-fly-chart.png" alt="">
            </div>
            <div class="popup-content-right">
                <div class="popup-content-right__logo">
                    <img src="/Frontend/dist/images/products/pop-up/products-fly-logo.svg" alt="">
                </div>
                <div class="popup-content-right__description">
                    <p>Büyük Bir işletmeye sahipseniz ama en büyük olmak istiyorsunuz, rekabetin dışında kalmak değil, önünde yer almak istiyorsanız Mikro FLY tam size göre! Mikro FLY ile grup içindeki tüm şirketlerinizi tek yönetimde birleştirebilir, tedarikçinizden müşterilerinize kadar uzanan bütünleşik bir yapı kurabilirsiniz. </p>
                    <ul>
                        <li>Limitsiz Kullanıcı Arttırımı</li>
                        <li>En Geniş Fonksiyonalite</li>
                        <li>Tüm İş Süreçlerinin Otomasyonu</li>
                        <li>Çoklu Dil Desteği</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="popup-button">
            <a href="/iletisim/bize-ulasin">
                Şirketinize ücretsiz demo sunumu için
                formu doldurun.
            </a>
        </div>
        <div class="close-popup">X</div>
    </div>
</div>
<!--Popup Finish-->

<div class="products-container-content">
    <div class="products-container-content-left">
        <div class="scrolldown sticky-three">
            <div class="products-container-content-left__img">
                <a href="/urunler-ve-hizmetler/mikro-fly/"><img src="~/Frontend/dist/images/products/mikro-fly.svg" alt=""></a>
            </div>
            <a href="/urunler-ve-hizmetler/mikro-fly/" class="products-container-content-left__text">
                <span>Büyük İşletmeler için</span>
                <span>Mikro Fly</span>
            </a>
            <div class="products-container-content-left-button">
                <a href="/ucretsiz-demo-talep?product=FLY" title="Ücretsiz Demo" class="products-container-content-left-button__demo">Ücretsiz Demo <span><i class="fas fa-arrow-right"></i></span></a>
                <a href="#" title="Fiyat ve Nasıl Satın Alabilirim" class="products-container-content-left-button__price" id="fly">
                    Fiyat ve Nasıl Satın Alabilirim
                    <span><i class="fas fa-arrow-right"></i></span>
                </a>
            </div>
        </div>
    </div>
    <div class="products-container-content-right">

        <div class="shortText">
            @Html.Raw(@Model.Items.Where(x => x.Fields.IsMainProduct == true).FirstOrDefault().Fields.ShortText)
        </div>

        @foreach (var item in Model.Items.Where(x => x.Fields.IsMainProduct != true))
        {
            <div class="products-container-content-right-item">
                <div class="products-container-content-right-item__title">
                    <span>@item.Fields.Title</span>
                </div>
                <div class="products-container-content-right-item__text">
                    @Html.Raw(item.Fields.ShortText)
                </div>
            </div>
        }
        <div class="sticky-stopper-three"></div>
    </div>
</div>

