
Frontend/node_modules
SitefinityWebApp.csproj
.vs/*
obj/*
**/node_modules/*
Frontend/node_modules
bin/SitefinityWebApp.ResourcePackages.Bootstrap.pdb
bin/SitefinityWebApp.ResourcePackages.Bootstrap.dll
bin/SitefinityWebApp.ResourcePackages.Bootstrap.dll
bin/SitefinityWebApp.ResourcePackages.Bootstrap.dll
bin/SitefinityWebApp.ResourcePackages.Bootstrap.pdb
obj/*
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/SitefinityWebApp.csproj.FileListAbsolute.txt
obj/Debug/SitefinityWebApp.dll
obj/Debug/SitefinityWebApp.pdb
App_Data/Sitefinity/Logs/*
bin/Release/PublishOutput/*
web.config
Frontend/Yönetim.rar
