<rewriteMaps>
  <rewriteMap name="StaticRedirects">
    <add key="/ekonomi-gazetesi-2.html" value="/kurumsal/basin-odasi/basinda-mikro/2018/04/09/mikro-yazilim-2015-hedeflerini-gecti-2016-ya-buyume-beklentisi-ile-giriyor-global" />
    <add key="/fortune-turkiye-dijital-7.html" value="/kurumsal/basin-odasi/basinda-mikro/2018/08/17/kobilerde-dijitallesme" />
    <add key="/bt-haber-9.html" value="/kurumsal/basin-odasi/basinda-mikro/2018/04/09/btvizyon-dogu-ya-acildi" />
    <add key="/mikrofortuna-demo-talep-formu.html" value="/home/demo" />
    <add key="/my-erp-demo-talep-formu.html" value="/ucretsiz-demo-talep" />
  </rewriteMap>
</rewriteMaps>