.page-footer{
    height: 50px;
    background-color: black;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media @responsive{
        display: none;
    }
    span{
        color: white;
    }
    &-partition{
        background-color: #d65745;
        height: 5px;
        width: 100%;
    }
    &-text{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        &-company{
            width: 20%;
            padding-left: 30px;
        }
        &-menu{
            margin-right: auto;
            width: 80%;
            text-align: center;
            a{
                text-decoration: none;
                font-size: 12px;
                font-weight: 400;
                color: white;
                padding: 16px;
            }
        }
        &-icons{
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;
            >svg{
                width: 15px!important;
                height: 15px;
            }
            >a{
                color: white;
                padding: 10px;
                img{
                    width: 90px;
                    height: 20px;
                }
                &:hover{
                    background-color: gray;
                    border-radius: 5px;
                }
            }
        }
    }
}