.page-content-container{
    height: auto;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: white;
    > h2 {
        font-size: 16px;
        font-weight: 700;
        color: #34495e;
        display: block;
    }

    > p {
        display: block;
        padding: 10px 0px;
        font-size: 14px;
        line-height: 22px;
    }
    > ul {
        display: block;
        margin: 10px 0px 0px 20px;
        > li {
            display: block;
            width: 100%;
            align-items: center;
            margin: 7px 0px;
            font-size: 14px;
            padding: 0px 5px;
            line-height: 18px;
            &:before {
                content: ' ';
                display: inline-block;
                width: 10px !important;
                height: 10px;
                background: #1abc9c;
                margin-right: 5px;
            }
        }
    }
    @media @responsive{
        width: 100%;
    }
    
}