
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f1;
    overflow-x: hidden;
    padding-top: 80px;
}


.page-product-wizard-top {
    height: 155px;
    width: 100%;
    background-image: linear-gradient(97deg, #58b99d 0%, #1dffbe 100%);
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    /*&-img {
        background: url("../../source/images/top/head.png")no-repeat;
        height: 60px;
        width: 60px;
        position: absolute;
        top: 0;
        right: 110px;
    }*/

    & > span {
        font-size: 40px;
        font-weight: 700;
        line-height: 30px;
        color: white;
    }
}

.product-fixed {
    position: fixed;
}

.shortText {
    color: #333333;
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;

    > p {
        margin-top: 10px;
    }

    > h2 {
        font-size: 17px;
        display: block;
        margin: 10px 0;
        font-weight: 700;
        color: @dark_blue;
    }
}

.news {
    width: 45%;

    > img {
        transition: all 1s;
        opacity: 1;
        width: 100%;
        cursor: pointer;
    }

    > img:hover {
        opacity: 0.5;
    }

    &-popup {
        > .popup {
            height: 78vh;
            width: auto;
            padding: 20px;

            > img {
                height: 100%;
            }

            .close-popup {
                color: black;
            }
        }
    }
}




@media @responsive {
    .desktop-banner {
        display: none !important;
    }

    .mobile-banner {
        display: inline-block !important;
    }
}



/*input:valid {
    border-color: green !important;
}

input[type="submit"]:valid {
    border-color: transparent !important;
}

input[type="checkbox"] {
    border: 1px solid red;

}*/


/*input[type="checkbox"]:required:invalid + input + span {
    color: red;
}

input[type="checkbox"]:required:valid + input + span {
    color: green;
}*/


.modal-alert {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    margin: auto;
    width: 400px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    display: none;
    z-index: 9999999;
    padding: 20px 20px;
    -webkit-box-shadow: 0px 0px 200px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 200px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 200px -9px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.modal-alert > .modal-content {
    border: none !important;
    font-size: 15px;
    color: black;

    width: 100%;
    & > span {
        display: block;
        margin: 10px 0px;
    }
}

#modal-close {
    display: block;
    margin-left: auto;
    padding: 10px 20px 12px 20px;
    background-color: #1abc9c;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.4px;
    line-height: 19px;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    text-align: center;
                  cursor: pointer;
                  border-radius: 5px;
}


.modal-bg {
    z-index: 999999;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: none;
}

.document-button{
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #1abc9c;
    color: white;
    >svg{
        margin-left: 5px;
    }
}