.hr{
    display: flex;
    flex-direction: column;
    &-text{
        color: @dark_blue;
        >span{
            font-size: 16px;
            font-weight: 700;
        }
        >p{
            font-size: 14px;
            font-weight: 400;
            margin-top: 5px;
        }
    }
}