.management-main{
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 50px;
    &-item{
        //width: 195px;
        
        display: inline-block;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
        height: auto;
        &__img{
            width: 260px;
            height: 168px;
            border-radius: 5px;
            background-size: auto;
            align-items: center;
            justify-content: center;
            display: flex;
            
            >img{
                height: 100%;
                
                
                border-radius: 5px;
            }
        }
        &>a{
            text-decoration: none;
            
        }
        
        &-description{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            color: @dark_blue;
            >a{
                text-decoration: none;
                color: @dark_blue;
            }
            &__name{
                font-size: 16px;
                font-weight: 700;
            }
            &__title{
                font-size: 14px;
                font-weight: 400;
                line-height: 15px;
                margin-top: 3px;
            }
            &__icons{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 5px;
                >a{
                    text-decoration: none;
                    color: @dark_blue;
                    svg{
                        width: 20px!important;
                        height: 20px;
                        margin-right: 10px;
                    }
                    &:nth-child(3){
                        color: #9d9d9d;
                    }
                }
            }
        }
        /*&:nth-child(1){
            display: flex;
            width: 350px;
            height: 300px!important;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            img{
                width: 340px;
                height: 200px;
            }
            &>a{
                height: auto;
                width: 340px;
            }
        }*/
    }
}



.popup-content{
    align-items: flex-start;
    &-management-left{
        width: 260px;
        height: 165px;
        margin-right: 20px;
        >img{
            height: 100%;
        }
    }
    &-management-right{
        &__description{
            color: @dark_blue;
            font-size: 14px;
            font-weight: 400;
            >p{
                margin-bottom: 20px;
            }
        }
    }
}

.mng-popup{
    width: 900px!important;
}

.mng-popup-close{
    color: black!important;
}