.sitemap{
    padding: 30px;
    display: flex;
    min-height: 500px;
    @media @responsive{
        padding: 10px;
        flex-direction: column;
        text-align: center;
    }
    &-section{
        width: calc(100% / 5);
        height: 300px;
        display: flex;
        flex-direction: column;
        @media @responsive{
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
        a{
            text-decoration: none;
            color: @dark_blue;
        }
        &-grouptitle{
            position: relative;
            font-size: 24px;
            font-weight: 300;
            line-height: 25px;
            margin-bottom: 35px;
            &::after{
                content: "";
                position: absolute;
                width: 55px;
                margin-top: 10px;
                border: 2px solid #e74c3c;
                bottom: -20px;
                left: 0;
                @media @responsive{
                    left: 150px;
                }
            }
            @media @responsive{
                font-size: 28px;
            }
        }
        &-maintitle{
            margin-bottom: 10px;
            >a{
            font-size: 16px;
            font-weight: 400;
            
            color: @dark_blue;
            @media @responsive{
                font-size: 20px;
            }
            }
        }
        &-subtitle{
            font-size: 14px;
            font-weight: 400;
            margin-left: 10px;
            margin-bottom: 5px;
            @media @responsive{
                font-size: 16px;
                margin-bottom: 3px;
            }
        }
    }
}