@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<!-- MARKALAR -->
<div class="page-section-products">


    @foreach (var item in Model.Items)
    {
        <div class="page-section-products-item">
            @foreach (var photo in item.Fields.BackgroundImage)
            {
                <div class="page-section-products-item-show" style="background-image: url('@photo.Fields.MediaUrl')">
                    <div class="page-section-products-item-show-back">
                        <div class="page-section-products-item-show-content">
                            <div class="page-section-products-item-show__logo">
                                @foreach (var logo in item.Fields.Logo)
                                {
                                    <img src="@logo.Fields.MediaUrl" alt="" />
                                }
                            </div>
                            <div class="page-section-products-item-show__hr"></div>
                            <div class="page-section-products-item-show-hide">
                                <p class="page-section-products-item-show-hide__text">@item.Fields.Content</p>
                                <a href="@item.Fields.ButtonUrl" class="page-section-products-show-hide__button">Detay<i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    @*<div class="page-section-products-item">
            <div class="page-section-products-item-show products-image-emikro">
                <div class="page-section-products-item-show-back">
                    <div class="page-section-products-item-show-content">
                        <div class="page-section-products-item-show__logo">
                            <img src="/Frontend/source/images/products/emikro-logo.png" alt="">
                        </div>
                        <div class="page-section-products-item-show__hr"></div>
                        <div class="page-section-products-item-show-hide">
                            <p class="page-section-products-item-show-hide__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, nemo saepe? Dicta inventore et saepe, libero cum consequuntur quod laborum officiis quaerat? Aliquid aperiam eveniet vero inventore. Hic, labore porro!</p>
                            <a href="#" class="page-section-products-show-hide__button">Detay<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section-products-item">
            <div class="page-section-products-item-show products-image-mikrocom">
                <div class="page-section-products-item-show-back">
                    <div class="page-section-products-item-show-content">
                        <div class="page-section-products-item-show__logo">
                            <img src="/Frontend/source/images/products/mikrocom-logo.png" alt="">
                        </div>
                        <div class="page-section-products-item-show__hr"></div>
                        <div class="page-section-products-item-show-hide">
                            <p class="page-section-products-item-show-hide__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, nemo saepe? Dicta inventore et saepe, libero cum consequuntur quod laborum officiis quaerat? Aliquid aperiam eveniet vero inventore. Hic, labore porro!</p>
                            <a href="#" class="page-section-products-show-hide__button">Detay<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section-products-item">
            <div class="page-section-products-item-show products-image-akademikro">
                <div class="page-section-products-item-show-back">
                    <div class="page-section-products-item-show-content">
                        <div class="page-section-products-item-show__logo">
                            <img src="/Frontend/source/images/products/akademikro-logo.png" alt="">
                        </div>
                        <div class="page-section-products-item-show__hr"></div>
                        <div class="page-section-products-item-show-hide">
                            <p class="page-section-products-item-show-hide__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, nemo saepe? Dicta inventore et saepe, libero cum consequuntur quod laborum officiis quaerat? Aliquid aperiam eveniet vero inventore. Hic, labore porro!</p>
                            <a href="#" class="page-section-products-show-hide__button">Detay<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

</div>
<!-- ///// -->