<div class="not-found">
    <span class="not-found-title">Hata</span>
    <div class="not-found-image">
        <img src="/Frontend/dist/images/not-found/not-found-404.png" alt="">
    </div>
    <div class="not-found-text">
        <span class="not-found-text-bold">Aradığınız Sayfa Bulunamadı</span>
        <span class="not-found-text-normal">Ana Sayfaya Dönmek İçin Lütfen Tıklayınız.</span>
        <a href="/">Ana Sayfa<i class="fas fa-arrow-right"></i></a>
    </div>
</div>