<div class="not-found">
    <span class="not-found-title">Hata</span>
    <div class="not-found-image">
        <img src="/Frontend/dist/images/not-found/not-found-search.png" alt="">
    </div>
    <div class="not-found-text">
        <span class="not-found-text-bold">" " Bulunamadı</span>
        <span class="not-found-text-normal">Ana Sayfaya Dönmek İçin Lütfen Tıklayınız.</span>
    </div>
    <div class="not-found-button">
        <i class="fas fa-search"></i> <input type="text" class="not-found-button-search" placeholder="Ara">
        <a href="/">Ana Sayfa<i class="fas fa-arrow-right"></i></a>
    </div>
</div>