@model SitefinityWebApp.Mvc.Models.ViewModel.ProductProposal

@if (Model != null && Model.Product != null)
{
<div class="product-proposal">
    <span>Doldurmuş olduğunuz bilgilere göre size aşağıdaki ürünleri öneriyoruz.</span>
    
    @{if (Model.Product.IndexOf("1-5") != -1)
        {
    <div class="product-proposal-image">
        <a href="/urunler-ve-hizmetler/mikro-run"><img src="~/Frontend/dist/images/products/run-banner.png" /></a>
        <a href="/urunler-ve-hizmetler/mikro-run" class="homepage-new-product-item-link">Detay</a>
    </div>
        }
        else if (Model.Product.IndexOf("6-50") != -1)
        {
    <div class="product-proposal-image">
        <a href="/urunler-ve-hizmetler/mikro-jump"><img src="~/Frontend/dist/images/products/jump-banner.png" /></a>
        <a href="/urunler-ve-hizmetler/mikro-jump" class="homepage-new-product-item-link">Detay</a>
    </div>
        }
        else if (Model.Product.IndexOf("51") != -1)
        {
    <div class="product-proposal-image">
        <a href="/urunler-ve-hizmetler/mikro-fly"><img src="~/Frontend/dist/images/products/fly-banner.png" /></a>
        <a href="/urunler-ve-hizmetler/mikro-fly" class="homepage-new-product-item-link">Detay</a>
    </div>
        }
    }
</div>
}



