@model SitefinityWebApp.Mvc.Models.ViewModel.ProductProposal

@if (Model != null && Model.Product != null)
{
<div>

    @{if (Model.Product == "1-5 Employees")
        {
            <div class="product-proposal-image">
                <img src="~/Frontend/dist/images/run-big-banner.png" />
            </div>
        }
        else if (Model.Product == "6-50 Employees")
        {
            <div class="product-proposal-image">
                <img src="~/Frontend/dist/images/jump-big-banner.png" />
            </div>
        }
        else if (Model.Product == "More Than 51 Employees")
        {
            <div class="product-proposal-image">
                <img src="~/Frontend/dist/images/fly-big-banner.png" />
            </div>
        }
    }
</div>
}



