 <!-- Ürünler -->
@* <div class="page-section-business">
    <div class="page-section-business-left">
        <div class="page-section-business-left__title">
            <h2>Ürünler</h2>
        </div>
        <div class="page-section-business-left__hr">
        </div>

        <div class="page-section-business-left__title2">
            <div class="page-section-business-left__title2__text">
                <span data-text="Sektör fark etmeksizin büyümeyi hedefleyen küçük işletmeler Mikro Run sayesinde ticari iş süreçlerini herhangi bir gecikme yaşamadan kolaylıkla yönetebilecek." data-link="/urunler-ve-hizmetler/mikro-run" class="products-select-tabs">Mikro Run</span>
                <span data-text="Bir KOBİ’nin finansal konularda kullanımı kolay ürünlerle ana işine odaklanarak büyümesini sağlayacak sektör bağımsız uçtan uca tüm ticari işlemlerinizi bir çatı altında toplamak istiyorsanız en büyük yardımcınız Mikro Jump’ı sizlere sunuyoruz." data-link="/urunler-ve-hizmetler/mikro-jump">Mikro Jump</span>
                <span data-text="En büyük olmak isteyenlerin ürünü Mikro Fly; sektör bağımsız, orta ve büyük ölçekli işletmelerin temel ticari iş süreçlerini yönetebilmeleri için tasarlandı." data-link="/urunler-ve-hizmetler/mikro-fly">Mikro Fly</span>
                <span data-text="Tüm muhasebe işlemlerinin güvenle takip edilebildiği Mikro Müşavir, kolay kullanımı ve işlevselliği ile genel muhasebeden personele, işletme defterinden amortisman takibine kadar geniş bir yelpazede çözüm sunuyor." data-link="/urunler-ve-hizmetler/mikro-musavir/">Mikro Müşavir</span>
            </div>
        </div>

        <div class="page-section-business-left__text">
            Sektör fark etmeksizin büyümeyi hedefleyen küçük işletmeler Mikro Run sayesinde ticari iş süreçlerini herhangi bir gecikme yaşamadan kolaylıkla yönetebilecek.
        </div>
        <div class="page-section-business-left__button">
            <a href="#" title="detay" class="page-section-business-left__button__detail">Detay<i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="page-section-business-right">
        <img src="~/Frontend/dist/images/homepage/business.svg" alt="" class="animatable bounceIn">
    </div>
</div> *@
<!-- ///// -->

<div class="homepage-new-product-wrapper">
    <div class="homepage-new-product-left-wrapper">
        <div class="homepage-new-product-item" data-image="/Frontend/dist/images/run-big-banner.png">
            <img src="/Frontend/dist/images/run-banner.png" alt="#">
            <a href="/urunler-ve-hizmetler/mikro-run" class="homepage-new-product-item-link">Detay</a>
        </div>
        <div class="homepage-new-product-item" data-image="/Frontend/dist/images/jump-big-banner.png">
            <img src="/Frontend/dist/images/jump-banner.png" alt="#">
            <a href="/urunler-ve-hizmetler/mikro-jump" class="homepage-new-product-item-link">Detay</a>
        </div>
        <div class="homepage-new-product-item" data-image="/Frontend/dist/images/fly-big-banner.png">
            <img src="/Frontend/dist/images/fly-banner.png" alt="#">
            <a href="/urunler-ve-hizmetler/mikro-fly" class="homepage-new-product-item-link">Detay</a>
        </div>
    </div>
    <div class="homepage-new-product-right-wrapper">
        <img src="/Frontend/dist/images/run-big-banner.png" alt="#">
    </div>
</div>