<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0" authCookieName=".SFAUTH-MikroYazilim" rolesCookieName=".SFROLES-MikroYazilim" validationKey="4E2C63B55DDFF8F7A04F15B658BB852E83B9128F20FCAA6BEB44C300F198BD6145980235617CD78F5CE71FF9DC6B62BF27B1A06967170AC92B81AFB40A557D9F" decryptionKey="9A9D13279DCF980EF0635B26BBCCE8DEB07DEC83A3165031386D62C1E9E365DE" loggingCookieName=".SFLOG-MikroYazilim">
	<securityTokenIssuers>
		<add key="0EB5ECC5FB1BC6AAEEAFB7157F01A60DF538A375F738292A41093B65DCD98F94" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="0EB5ECC5FB1BC6AAEEAFB7157F01A60DF538A375F738292A41093B65DCD98F94" realm="http://localhost" />
	</relyingParties>
</securityConfig>