@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

<style>
.products-container-content {
    display: none;
}
</style>

<div class="sfContentBlock">
<p>@Html.Raw(Model.Item.Fields.Detail)</p>
</div>