@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers; 


<div class="products-container-content">
    <div class="products-container-content-left">
        <div class="scrolldown sticky-one">
            <div class="products-container-content-left__img">   
                <a href="/urunler-ve-hizmetler/mikro-run/"><img src="/Frontend/dist/images/products/run-img.svg" alt=""></a>                 
            </div> 
            <div class="products-container-content-left__text">
                <span>Girişimciler İçin</span>
                <span>Mikro Run</span>
            </div>
            <div class="products-container-content-left-button">
                <a href="/demo-talep" title="demo" class="products-container-content-left-button__demo">Ücretsiz Demo <span><i class="fas fa-arrow-right"></i></span></a>
                <a href="#" title="Fiyat ve Nasıl Satın Alabilirim" class="products-container-content-left-button__price" >Fiyat ve Nasıl Satın Alabilirim
                <span><i class="fas fa-arrow-right"></i></span></a>
            </div>
        </div>
    </div>
    <div class="products-container-content-right">

        <div class="shortText">@Model.Items.Where(x => x.Fields.IsMainProduct == true).FirstOrDefault().Fields.ShortText</div>

        @foreach (var item in Model.Items.Where(x => x.Fields.IsMainProduct != true))
        {
            <div class="products-container-content-right-item">
                <div class="products-container-content-right-item__title">
                    <span>@item.Fields.Title</span>
                </div>
                <div class="products-container-content-right-item__text">
                    @Html.Raw(item.Fields.Detail)
                </div>
            </div>
        }
        <div class="sticky-stopper-one"></div>
    </div>
</div>

<script>

   

</script>