<div class="about-content-item" style="padding: 0px 30px;">
    @*<div class="about-content-item__title">
            <span>1988’den Bugüne Mikro…</span>
        </div>*@
    <div class="about-content-item-timeline">
        <div class="about-content-item-timeline__date">
            <span href="#">2018</span>
            <div class="about-content-item-timeline__date-hide">
                <div class="about-content-item-timeline__date-hide__title">
                    <span>Yeni Yatırım...</span>
                </div>
                <div class="about-content-item-timeline__date-hide__text">
                    <p>Müşteri İhtiyaçlarına Tam Uyumlu Yeni Ürün Gamı Lansmanı</p>
                </div>
            </div>
        </div>
        <div class="about-content-item-timeline__date">
            <span href="#">2017</span>
            <div class="about-content-item-timeline__date-hide">
                <div class="about-content-item-timeline__date-hide__title">
                    <span>Yeni Yatırım...</span>
                </div>
                <div class="about-content-item-timeline__date-hide__text">
                    <p>Türkiye’nin en büyük girişim sermayesi şirketi Turkven ve Earlybird Venture Capital, Mikro Yazılım’ın yatırımcısı oldu.</p>
                </div>
            </div>
        </div>
        <div class="about-content-item-timeline__date">
            <span href="#">2015</span>
            <div class="about-content-item-timeline__date-hide">
                <div class="about-content-item-timeline__date-hide__title">
                    <span>100.000’den Fazla ‘Mutlu’ Müşteri</span>
                </div>
                <div class="about-content-item-timeline__date-hide__text">
                    <p>Kurulduğu günden bu yana her sektörden pek çok işletmeyle dirsek temasını sürdüren Mikro için, 100 binden fazla müşterisinin mutlak memnuniyetini sağlamak ve onların yıllardır güvendiği iş ortağı olmak büyük bir gurur kaynağı...</p>
                </div>
            </div>
        </div>
        <div class="about-content-item-timeline__date">
            <span>2013</span>
            <div class="about-content-item-timeline__date-hide">
                <div class="about-content-item-timeline__date-hide__title">
                    <span>E-Fatura ‘Özel Entegratör’ü Mikro</span>
                </div>
                <div class="about-content-item-timeline__date-hide__text">
                    <p>Mikro, e-devlet uygulamalarının hız kazandığı 2013 yılında, GİB tarafından verilen ‘e-fatura özel entegratörü’ unvanını almayı başardı. Bu sayede Mikro, sektörde e-devlet uygulamalarını kendi altyapısı üzerinden sağlama yetkisine sahip sayılı firmalar arasına girdi.</p>
                </div>
            </div>
        </div>
        <div class="about-content-item-timeline__date">
            <span>2009</span>
            <div class="about-content-item-timeline__date-hide">
                <div class="about-content-item-timeline__date-hide__title">
                    <span>Yurtdışında İlk Proje</span>
                </div>
                <div class="about-content-item-timeline__date-hide__text">
                    <p>Mikro 2009 yılında ilk kez Türkiye dışında bir pazara açılarak, ürün ve çözümlerini Azerbaycan’a taşıdı. Bu tarihten itibaren yurtdışı projelerinin sayısı hızla arttı.</p>
                </div>
            </div>
        </div>
        @*<div class="about-content-item-timeline__date">
            <a href="#">2000</a>
            <div class="about-content-item-timeline__date-hide">
                <div class="about-content-item-timeline__date-hide__title">
                    <span>Yeni Yatırım...</span>
                </div>
                <div class="about-content-item-timeline__date-hide__text">
                    <p>Türkiye’nin en büyük girişim sermayesi şirketi Turkven ve Earlybird Venture Capital, Mikro Yazılım’ın yatırımcısı oldu.</p>
                </div>
            </div>
        </div>*@
        <div class="about-content-item-timeline__date">
            <span>1988</span>
            <div class="about-content-item-timeline__date-hide">
                <div class="about-content-item-timeline__date-hide__title">
                    <span>Mikro’nun Doğuşu</span>
                </div>
                <div class="about-content-item-timeline__date-hide__text">
                    <p>Mikro Yazılım, Türkiye’nin en köklü yazılım üreticilerinden biri olarak 1988 yılında %100 yerli sermaye ile kuruldu.</p>
                </div>
            </div>
        </div>
    </div>
</div>