<div class="about-content-item" style="padding: 0px 30px;">
    <div class="about-content-item__title">
        <span>1988’den Bugüne Mikro…</span>
    </div>
    <div class="about-content-item-timeline">
        <div class="about-content-item-timeline__date">
            <a href="#">2017</a>
            <div class="about-content-item-timeline__date-hide">
                <div class="about-content-item-timeline__date-hide__title">
                    <span>Yeni Yatırım...</span>
                </div>
                <div class="about-content-item-timeline__date-hide__text">
                    <p>Türkiye’nin en büyük girişim sermayesi şirketi Turkven ve Earlybird Venture Capital, Mikro Yazılım’ın yatırımcısı oldu.</p>
                </div>
            </div>
        </div>
        <div class="about-content-item-timeline__date">
            <a href="#">2015</a>
            <div class="about-content-item-timeline__date-hide">
                <div class="about-content-item-timeline__date-hide__title">
                    <span>Yeni Yatırım...</span>
                </div>
                <div class="about-content-item-timeline__date-hide__text">
                    <p>Türkiye’nin en büyük girişim sermayesi şirketi Turkven ve Earlybird Venture Capital, Mikro Yazılım’ın yatırımcısı oldu.</p>
                </div>
            </div>
        </div>
        <div class="about-content-item-timeline__date">
            <a href="#">2013</a>
            <div class="about-content-item-timeline__date-hide">
                <div class="about-content-item-timeline__date-hide__title">
                    <span>Yeni Yatırım...</span>
                </div>
                <div class="about-content-item-timeline__date-hide__text">
                    <p>Türkiye’nin en büyük girişim sermayesi şirketi Turkven ve Earlybird Venture Capital, Mikro Yazılım’ın yatırımcısı oldu.</p>
                </div>
            </div>
        </div>
        <div class="about-content-item-timeline__date">
            <a href="#">2009</a>
            <div class="about-content-item-timeline__date-hide">
                <div class="about-content-item-timeline__date-hide__title">
                    <span>Yeni Yatırım...</span>
                </div>
                <div class="about-content-item-timeline__date-hide__text">
                    <p>Türkiye’nin en büyük girişim sermayesi şirketi Turkven ve Earlybird Venture Capital, Mikro Yazılım’ın yatırımcısı oldu.</p>
                </div>
            </div>
        </div>
        <div class="about-content-item-timeline__date">
            <a href="#">2000</a>
            <div class="about-content-item-timeline__date-hide">
                <div class="about-content-item-timeline__date-hide__title">
                    <span>Yeni Yatırım...</span>
                </div>
                <div class="about-content-item-timeline__date-hide__text">
                    <p>Türkiye’nin en büyük girişim sermayesi şirketi Turkven ve Earlybird Venture Capital, Mikro Yazılım’ın yatırımcısı oldu.</p>
                </div>
            </div>
        </div>
        <div class="about-content-item-timeline__date">
            <a href="#">1988</a>
            <div class="about-content-item-timeline__date-hide">
                <div class="about-content-item-timeline__date-hide__title">
                    <span>Yeni Yatırım...</span>
                </div>
                <div class="about-content-item-timeline__date-hide__text">
                    <p>Türkiye’nin en büyük girişim sermayesi şirketi Turkven ve Earlybird Venture Capital, Mikro Yazılım’ın yatırımcısı oldu.</p>
                </div>
            </div>
        </div>
    </div>
</div>