<!-- MARKALAR -->
<div class="page-section-products">
    <div class="page-section-products-item">
        <div class="page-section-products-item-show products-image-mikrox">
            <div class="page-section-products-item-show-back">
                <div class="page-section-products-item-show-content">
                    <div class="page-section-products-item-show__logo">
                        <img src="/Frontend/source/images/products/mikrox-logo.png" alt="">
                    </div>
                    <div class="page-section-products-item-show__hr"></div>
                    <div class="page-section-products-item-show-hide">
                        <p class="page-section-products-item-show-hide__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, nemo saepe? Dicta inventore et saepe, libero cum consequuntur quod laborum officiis quaerat? Aliquid aperiam eveniet vero inventore. Hic, labore porro!</p>
                        <a href="/mikrox" class="page-section-products-show-hide__button">Detay<i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section-products-item">
        <div class="page-section-products-item-show products-image-emikro">
            <div class="page-section-products-item-show-back">
                <div class="page-section-products-item-show-content">
                    <div class="page-section-products-item-show__logo">
                        <img src="/Frontend/source/images/products/emikro-logo.png" alt="">
                    </div>
                    <div class="page-section-products-item-show__hr"></div>
                    <div class="page-section-products-item-show-hide">
                        <p class="page-section-products-item-show-hide__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, nemo saepe? Dicta inventore et saepe, libero cum consequuntur quod laborum officiis quaerat? Aliquid aperiam eveniet vero inventore. Hic, labore porro!</p>
                        <a href="#" class="page-section-products-show-hide__button">Detay<i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section-products-item">
        <div class="page-section-products-item-show products-image-mikrocom">
            <div class="page-section-products-item-show-back">
                <div class="page-section-products-item-show-content">
                    <div class="page-section-products-item-show__logo">
                        <img src="/Frontend/source/images/products/mikrocom-logo.png" alt="">
                    </div>
                    <div class="page-section-products-item-show__hr"></div>
                    <div class="page-section-products-item-show-hide">
                        <p class="page-section-products-item-show-hide__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, nemo saepe? Dicta inventore et saepe, libero cum consequuntur quod laborum officiis quaerat? Aliquid aperiam eveniet vero inventore. Hic, labore porro!</p>
                        <a href="https://crm.mikro.com.tr" target="_blank" class="page-section-products-show-hide__button">Detay<i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section-products-item">
        <div class="page-section-products-item-show products-image-akademikro">
            <div class="page-section-products-item-show-back">
                <div class="page-section-products-item-show-content">
                    <div class="page-section-products-item-show__logo">
                        <img src="/Frontend/source/images/products/akademikro-logo.png" alt="">
                    </div>
                    <div class="page-section-products-item-show__hr"></div>
                    <div class="page-section-products-item-show-hide">
                        <p class="page-section-products-item-show-hide__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, nemo saepe? Dicta inventore et saepe, libero cum consequuntur quod laborum officiis quaerat? Aliquid aperiam eveniet vero inventore. Hic, labore porro!</p>
                        <a href="http://www.akademikro.com" target="_blank" class="page-section-products-show-hide__button">Detay<i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ///// -->