@model SitefinityWebApp.Mvc.Models.ViewModel.WorkPartnersForm
<div class="work-partners">
    <div class="work-partners-filter">
        <select name="" id="">
            <option value="" disabled selected>İş Ortağı Segmenti</option>
        </select>
        <select name="" id="">
            <option value="" disabled selected>İl Seçimi</option>
        </select>
        <select name="" id="">
            <option value="" disabled selected>İlçe Seçimi</option>
        </select>
        <select name="" id="">
            <option value="" disabled selected>Ülke Seçimi</option>
        </select>
        <select name="" id="">
            <option value="" disabled selected>İş Ortağı</option>
        </select>
        <a href="">Ara</a>
    </div>
    <div class="work-partners-content">
        <div class="work-partners-content-item">
            <div class="work-partners-content-item__title">
                <span>A Yazılım Danışmanlık Hizmetleri</span>
            </div>
            <div class="work-partners-content-item__description">
                <ul>
                    <li>Yetkili Satıcı</li>
                    <li>İsmail AYAZ</li>
                    <li>İl: Bursa</li>
                    <li>İlçe: İnegöl</li>
                    <li>Ülke: Türkiye</li>
                </ul>
            </div>
            <div class="work-partners-content-item__adress">
                <span><strong>Mikro Yazılım Merkez: </strong>0212 806 45 45</span>
            </div>
        </div>
        <div class="work-partners-content-item">
            <div class="work-partners-content-item__title">
                <span>A Yazılım Danışmanlık Hizmetleri</span>
            </div>
            <div class="work-partners-content-item__description">
                <ul>
                    <li>Yetkili Satıcı</li>
                    <li>İsmail AYAZ</li>
                    <li>İl: Bursa</li>
                    <li>İlçe: İnegöl</li>
                    <li>Ülke: Türkiye</li>
                </ul>
            </div>
            <div class="work-partners-content-item__adress">
                <span><strong>Mikro Yazılım Merkez: </strong>0212 806 45 45</span>
            </div>
        </div>
        <div class="work-partners-content-item">
            <div class="work-partners-content-item__title">
                <span>A Yazılım Danışmanlık Hizmetleri</span>
            </div>
            <div class="work-partners-content-item__description">
                <ul>
                    <li>Yetkili Satıcı</li>
                    <li>İsmail AYAZ</li>
                    <li>İl: Bursa</li>
                    <li>İlçe: İnegöl</li>
                    <li>Ülke: Türkiye</li>
                </ul>
            </div>
            <div class="work-partners-content-item__adress">
                <span><strong>Mikro Yazılım Merkez: </strong>0212 806 45 45</span>
            </div>
        </div>
        <div class="work-partners-content-item">
            <div class="work-partners-content-item__title">
                <span>A Yazılım Danışmanlık Hizmetleri</span>
            </div>
            <div class="work-partners-content-item__description">
                <ul>
                    <li>Yetkili Satıcı</li>
                    <li>İsmail AYAZ</li>
                    <li>İl: Bursa</li>
                    <li>İlçe: İnegöl</li>
                    <li>Ülke: Türkiye</li>
                </ul>
            </div>
            <div class="work-partners-content-item__adress">
                <span><strong>Mikro Yazılım Merkez: </strong>0212 806 45 45</span>
            </div>
        </div>
        <div class="work-partners-content-item">
            <div class="work-partners-content-item__title">
                <span>A Yazılım Danışmanlık Hizmetleri</span>
            </div>
            <div class="work-partners-content-item__description">
                <ul>
                    <li>Yetkili Satıcı</li>
                    <li>İsmail AYAZ</li>
                    <li>İl: Bursa</li>
                    <li>İlçe: İnegöl</li>
                    <li>Ülke: Türkiye</li>
                </ul>
            </div>
            <div class="work-partners-content-item__adress">
                <span><strong>Mikro Yazılım Merkez: </strong>0212 806 45 45</span>
            </div>
        </div>
        <div class="work-partners-content-item">
            <div class="work-partners-content-item__title">
                <span>A Yazılım Danışmanlık Hizmetleri</span>
            </div>
            <div class="work-partners-content-item__description">
                <ul>
                    <li>Yetkili Satıcı</li>
                    <li>İsmail AYAZ</li>
                    <li>İl: Bursa</li>
                    <li>İlçe: İnegöl</li>
                    <li>Ülke: Türkiye</li>
                </ul>
            </div>
            <div class="work-partners-content-item__adress">
                <span><strong>Mikro Yazılım Merkez: </strong>0212 806 45 45</span>
            </div>
        </div>
    </div>
</div>