@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

<style>
.products-container-content {
    display: none;
}
</style>

<div class="sfContentBlock">
    <p>@Html.Raw(Model.Item.Fields.Detail)</p>
</div>

<div class="story-products-wizard">
    <div class="story-products-wizard-left">
        <div class="story-products-wizard-left-content">
            <div class="story-products-wizard-left-content__title">
                <span>Ürün<strong>Sihirbazı</strong></span>
            </div>
            <div class="story-products-wizard-left-content__hr">

            </div>
            <div class="product-detail-section3-left-content-button">
                <a href="/urun-secme-sihirbazi" title="Sizin İçin Doğru Ürünü Seçin" class="product-detail-section3-left-content-button__wizard">Sizin İçin Doğru &nbsp;<strong>Ürünü Seçin</strong><span><i class="fas fa-arrow-right"></i></span></a>
            </div>
        </div>
    </div>
    <div class="story-products-wizard-right">
        <img src="/Frontend/dist/images/story/product-wizard.png" alt="">
    </div>
</div>

