@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

<!-- Popup Musavir-->
<div class="musavir-popup">
    <div class="popup">
        <div class="popup-price">
            <div class="popup-price-buy musavir-top-buy">
                <span class="popup-price__pricetext">1290 TL + KDV</span>
                <span class="popup-price__text">Başlayan Fiyatlarla Satın Alın</span>
            </div>
            <div class="popup-price-rent musavir-top-rent">
                <span class="popup-price__pricetext">516 TL + KDV/Yıl</span>
                <span class="popup-price__text">Fiyatlarla Kiralayın.</span>
            </div>
        </div>
        <div class="popup-tabs">
            <a href="/ucretsiz-demo-talep?product=MUSAVIR">
                <div class="popup-tabs-buy">
                    <span>Satın Al</span>
                </div>
            </a>
            <a href="/ucretsiz-demo-talep?product=MUSAVIR">
                <div class="popup-tabs-rent">
                    <span>Kirala</span>
                </div>
            </a>
        </div>
        <div class="popup-content">
            <div class="popup-content-right__description">
                <div class="popup-content-right__logo">
                    <img src="/Frontend/dist/images/products/pop-up/products-musavir-logo.svg" alt="">
                </div>
                <p>
                    Tüm muhasebe işlemlerinizi güvenle takip etmek istiyorsanız Mikro Müşavir tam size göre!

                    Kolay kullanımı ve işlevselliği ile genel muhasebeden personele, işletme defterinden amortisman takibine kadar geniş bir yelpazede çözüm sunuyor.

                </p>
                <ul>
                    <li>Muhasebe Yönetimi</li>
                    <li>Sabit Kıymetler Yönetimi</li>
                    <li>Enflasyon Muhasebesi (IAS-29 ve SPK Uyumlu)</li>
                    <li>Mükellefler için Stok Yönetimi</li>
                    <li>Finans Yönetimi</li>
                    <li>Konsolide İşlemler</li>
                    <li>Bildirge, beyanname, yazışma ve genel amaçlı programlar</li>
                </ul>
            </div>
        </div>
        <div class="popup-button">
            <a href="/ucretsiz-demo-talep?product=MUSAVIR">Demo Talep Formu</a>
        </div>
        <div class="close-popup">X</div>
    </div>
</div>
<!--Popup Finish-->

<div class="products-container-content">
    <div class="products-container-content-left">
        <div class="products-container-content-left__img">
            <a href="/urunler-ve-hizmetler/mikro-musavir"><img src="~/Frontend/dist/images/products/mikro-musavir.svg" alt="" /></a>
        </div>

        <a href="/urunler-ve-hizmetler/mikro-musavir" class="products-container-content-left__text">
            <span>Mali Müşavirler için</span>
            <span>Mikro Müşavir</span>
        </a>
        <div class="products-container-content-left-button">
            <a href="/ucretsiz-demo-talep?product=MUSAVIR" title="Ücretsiz Demo" class="products-container-content-left-button__demo">Ücretsiz Demo <span><i class="fas fa-arrow-right"></i></span></a>
            <a href="#" title="Fiyat ve Nasıl Satın Alabilirim" class="products-container-content-left-button__price" id="musavir">
                Fiyat ve Nasıl Satın Alabilirim
                <span><i class="fas fa-arrow-right"></i></span>
            </a>
        </div>
    </div>
    <div class="products-container-content-right">

        <div class="shortText">
            @Html.Raw(@Model.Items.Where(x => x.Fields.IsMainProduct == true).FirstOrDefault().Fields.ShortText)
        </div>

        @foreach (var item in Model.Items.Where(x => x.Fields.IsMainProduct != true))
        {
            <div class="products-container-content-right-item">
                <div class="products-container-content-right-item__title">
                    <span>@item.Fields.Title</span>
                </div>
                <div class="products-container-content-right-item__text">
                    @Html.Raw(item.Fields.ShortText)
                </div>
            </div>
        }
    </div>
</div>