@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel


<style>
    .products-container-content {
        display: none;
    }
</style>

<div class="sfContentBlock">
    <p>@Html.Raw(Model.Item.Fields.Content)</p>
    <br />
    @if (Model.Item.Fields.DocumentFile != null)
    {
        foreach (var pht in Model.Item.Fields.DocumentFile)
        {
            <a class="document-button" target="_blank" href="@pht.Fields.MediaUrl">Detayı Gör<i class="fas fa-arrow-right"></i></a>
            
        }

    }
    
</div>