<!--Contact-->
<div class="container">
    <div class="contact">
        <div class="contact-left">
            <div class="contact-left-item">
                <div class="contact-left-item__title">
                    <span>Ticari Ünvan</span>
                </div>
                <div class="contact-left-item__text">
                    <span>MİKRO YAZILIMEVİ YAZ. HİZ. BİLG. SAN.TİC. AŞ </span>
                </div>
            </div>
            <div class="contact-left-item">
                <div class="contact-left-item__title">
                    <span>İSTANBUL MERKEZ ADRES</span>
                </div>
                <div class="contact-left-item__text">
                    <span>MASLAK MAH. AOS 55. SOK. 42 MASLAK NO: 2 OFİS 3 BLOK D:11-12-13 SARIYER / İSTANBUL PK 34485</span>
                </div>
            </div>
            <div class="contact-left-item">
                <div class="contact-left-item__title">
                    <span>TELEFON</span>
                </div>
                <div class="contact-left-item__text">
                    <span>+90 (212) 806 45 45 (PBX)</span>
                    <span>+90 (850) 225 10 10 (Çağrı Merkezi)</span>
                </div>
            </div>
            <div class="contact-left-item">
                <div class="contact-left-item__title">
                    <span>İZMİR ŞUBE ADRES</span>
                </div>
                <div class="contact-left-item__text">
                    <span>MASLAK MAH. AOS 55. SOK. 42 MASLAK NO: 2 OFİS 3 BLOK D:11-12-13 SARIYER / İSTANBUL PK 34485</span>
                </div>
            </div>
            <div class="contact-left-item">
                <div class="contact-left-item__title">
                    <span>TELEFON</span>
                </div>
                <div class="contact-left-item__text">
                    <span>+90 (212) 806 45 45 (PBX) </span>
                    <span>+90 (212) 806 45 45 (PBX) </span>
                    <span>+90 (212) 806 45 45 (PBX) </span>
                </div>
            </div>
            <div class="contact-left-item">
                <div class="contact-left-item__title">
                    <span>Mail</span>
                </div>
                <div class="contact-left-item__text">
                    <span>info@mikro.com.tr</span>
                    <span>satis@mikro.com.tr</span>
                </div>
            </div>
            <div class="contact-left-item">
                <div class="contact-left-item__button">
                    <a href="#">Bize Ulaşın<i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="contact-right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.9985085784333!2d29.01792997343528!3d41.1127236411834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6e1b2ebdf9e6f913!2s42+Maslak!5e0!3m2!1str!2str!4v1524049505597" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>