<div class="page-footer">
    <div class="page-footer-partition"></div>
    <div class="page-footer-text">
        <div class="page-footer-text-company">
            <span>Mikro Yazılımevi A.Ş. © 2018</span>
        </div>
        <div class="page-footer-text-menu">
            <a href="#">Site Haritası</a>
            <a href="#">Gizlilik Bildirgesi</a>
            <a href="#">Kullanım Sözleşmesi</a>
            <a href="#">6698 Sayılı Kişisel Verilerin Korunması Kanunu</a>
        </div>
    </div>
</div>