<div class="page-footer">
    <div class="page-footer-partition"></div>
    <div class="page-footer-text">
        <div class="page-footer-text-company">
            <span>Mikro Yazılımevi A.Ş. © 2018</span>
        </div>
        <div class="page-footer-text-menu">
            <a href="/iletisim">İletişim</a>
            <a href="/iletisim/bize-ulasin">İletişime Geç</a>
            <a href="#">Site Haritası</a>
            <a href="/gizlilik-bildirgesi">Gizlilik Bildirgesi</a>
            <a href="/kullanim-sozlesmesi">Kullanım Sözleşmesi</a>
            <a href="/bilgi-guvenligi-ve-cerez-politikasi">Bilgi Güvenliği ve Çerez Politikası</a>
        </div>
        <div class="page-footer-text-icons">
            <a href="https://www.facebook.com/mikroyazilimas" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/mikroyazilimas" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/2955583/?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2955583%2Cidx%3A1-1-1%2CtarId%3A1445523595929%2Ctas%3AMikro%20Y" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.youtube.com/channel/UCWSwAVu6dwATfiTAo6KYAvg" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>