@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

<style>
    .products-container-content {
        display: none;
    }
</style>

<p>@Html.Raw(Model.Item.Fields.Content)</p>

@if (Model.Item.Fields.Photos != null)
{
    foreach (var photo in Model.Item.Fields.Photos)
    {
        <div class="">
            <img src="@photo.Fields.MediaUrl" alt="">
        </div>
    }
}
