 <!-- Deneyimler -->
<div class="page-section-experience">
    <div class="page-section-experience-left">

    </div>
    <div class="page-section-experience-right">
        <div class="page-section-experience-right-content">
            <div class="page-section-experience-right-content-item">
                <div class="page-section-experience-right-content-item__img">
                    <img src="/frontend/dist/images/homepage/deneyim.svg" alt="">
                </div>
                <div class="page-section-experience-right-content-item__other">
                    <div class="page-section-experience-right-content-item__other__title">
                        <div class="page-section-experience-right-content-item__other__title__first">
                            <span>30</span>
                        </div>
                        <div class="page-section-experience-right-content-item__other__title__second">
                            <span>Yıllık Deneyim</span>
                        </div>
                    </div>
                    <div class="page-section-experience-right-content-item__other__text">
                        <p>Mikro yaklaşık 30 yıldır, kurumların iş süreçlerine değer katan çözümler üretmeye devam ediyor.</p>
                    </div>
                </div>
            </div>
            <div class="page-section-experience-right-content-item">
                <div class="page-section-experience-right-content-item__img">
                    <img src="/frontend/dist/images/homepage/musteri.svg" alt="">
                </div>
                <div class="page-section-experience-right-content-item__other">
                    <div class="page-section-experience-right-content-item__other__title">
                        <div class="page-section-experience-right-content-item__other__title__first">
                            <span>105</span>
                        </div>
                        <div class="page-section-experience-right-content-item__other__title__second">
                            <span>Bin Müşteri</span>
                        </div>
                    </div>
                    <div class="page-section-experience-right-content-item__other__text">
                        <p>Mikro yaklaşık 30 yıldır, kurumların iş süreçlerine değer katan çözümler üretmeye devam ediyor.</p>
                    </div>
                </div>
            </div>
            <div class="page-section-experience-right-content-item">
                <div class="page-section-experience-right-content-item__img">
                    <img src="/frontend/dist/images/homepage/ortaklik.svg" alt="">
                </div>
                <div class="page-section-experience-right-content-item__other">
                    <div class="page-section-experience-right-content-item__other__title">
                        <div class="page-section-experience-right-content-item__other__title__first">
                            <span>300</span>
                        </div>
                        <div class="page-section-experience-right-content-item__other__title__second">
                            <span>İş Ortaklığı</span>
                        </div>
                    </div>
                    <div class="page-section-experience-right-content-item__other__text">
                        <p>Mikro yaklaşık 30 yıldır, kurumların iş süreçlerine değer katan çözümler üretmeye devam ediyor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ///// -->