@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<style>
    .owl-dots {
        position: absolute;
        bottom: 0px;
    }

    .owl-nav {
        display: none;
    }
</style>
@* <div class="page-section-demo">
    <a href="/urunler-ve-hizmetler/genel-bakis"><img src="~/Frontend/dist/images/homepage/demo-banner.jpg" /></a>
    <div class="page-section-demo-banner-responsive"><a href="/urunler-ve-hizmetler/genel-bakis"><img src="~/Frontend/dist/images/homepage/demo-banner-mobil.jpg" /></a></div>
</div> *@


    <div class="page-section-demo herobanner-owl-carousel owl-carousel">
        @foreach (var item in Model.Items)
        {
            <div class="page-section-demo-item">


 
                    <a href="#"><img src="~/Frontend/dist/images/homepage/demo-banner.jpg" /></a>
                    <div class="page-section-demo-banner-responsive"><a href="#"><img src="~/Frontend/dist/images/homepage/demo-banner-mobil.jpg" /></a></div>
          

            </div>


        }

    </div>
