@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<style>
    .owl-dots {
        position: absolute;
        bottom: 0px;
    }

    .owl-nav {
        display: none;
    }
</style>

<div class="page-section-demo herobanner-owl-carousel owl-carousel">
    @foreach (var item in Model.Items)
    {
        <a href="#" class="page-section-demo-item">

            @foreach (var photo in item.Fields.Photo)
            {
                <img src="@photo.Fields.MediaUrl" />
            }
            @if (item.Fields.FullPhotoBanner != true)
            {
                <div class="page-section-demo-item-content">
                    <div class="page-section-demo-item-content-title">
                        <div class="page-section-demo-item-content-title__text1">
                            <span>@item.Fields.Title</span>
                        </div>
                    </div>
                    <div class="page-section-demo-item-content-text2">
                        <p>@item.Fields.SubTitle</p>
                    </div>
                </div>
            }
            
        </a>

        
    }

</div>