<!-- Ürün Sihirbazı -->
<div class="page-section-product-wizard">
    <div class="page-section-product-wizard-left">
        <div class="page-section-product-wizard-left__title">
            <h2>Ürün <strong>Sihirbazı</strong></h2>
        </div>
        <div class="page-section-product-wizard-left__hr">

        </div>
        <div class="page-section-product-wizard-left__text">
            <p>Mikro ürünleri arasında sizin ihtiyacınıza en uygun ürünler hangileri? Sadece 2 dakikanızı ayırarak Mikro’nun size en uygun ürününü seçin. İster hemen satın alın, isterseniz size özel fiyatlarımız için bizden teklif isteyin.</p>
        </div>
        <div class="page-section-product-wizard-left__button">
            <a href="/urun-secme-sihirbazi" title="Sizin İçin Doğru Ürünü Seçin">Sizin İçin Doğru <strong>Ürünü Seçin</strong><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="page-section-product-wizard-right">
        <img src="/Frontend/dist/images/homepage/product-wizard.png" alt="">
    </div>                
</div>
<!-- ///// -->