<!-- Ürün Sihirbazı -->
<div class="page-section-product-wizard">
    <div class="page-section-product-wizard-left">
        <div class="page-section-product-wizard-left__title">
            <h2>Ürün Sihirbazı</h2>
        </div>
        <div class="page-section-product-wizard-left__hr">

        </div>
        <div class="page-section-product-wizard-left__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab eligendi quibusdam ducimus maiores id fugiat quia, nobis deleniti quis accusamus a, unde numquam sequi voluptatum odio dicta. Maiores, voluptate possimus.</p>
        </div>
        <div class="page-section-product-wizard-left__button">
            <a href="/urun-secme-sihirbazi" title="Sizin İçin Doğru Ürünü Seçin">Sizin İçin Doğru <strong>Ürünü Seçin</strong><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="page-section-product-wizard-right">
        <img src="/Frontend/dist/images/homepage/product-wizard.png" alt="">
    </div>                
</div>
<!-- ///// -->