@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel


@Html.Raw(Model.Item.Fields.Detail)

<style>
    .container-description {
        border: none;
    }

    .story,
    .story-products-wizard {
        display: none;
    }


</style>

<!--
<div class="container-only">
    <div class="container-description">
        <div class="container-description__img">
            <img src="/frontend/dist/images/story-detail/img1.png" alt="">
        </div>
        <div class="container-description-other">
            <div class="container-description-other__title">
                <span>
                    MUHASEBE PROGRAMI İLE BAŞLADIK,
                    12 YILDA TÜM E-DÖNÜŞÜM SÜREÇLERİMİZİ MİKRO YAZILIM İLE TAMAMLADIK.
                </span>
            </div>
            <div class="container-description-other__text">
                <p>
                    Ajans Press, 1953 yılında Bunt Kupür Derleme Firması adıyla kuruldu. Uzun yılların birikimine işaret eden bu tarih, gazetecilik alanındaki büyük atılımların yaşandığı yıllara da denk düşüyor. Medya sektöründeki gelişmelere paralel bir biçimde kendini yenilemeyi başaran firmamız, 1975 yılında Erol Özkan tarafından satın alındı ve ismi Ajans Press olarak değiştirildi. Ajans Press, sadece birkaç yıl içinde sektörün öncüsü haline geldi.

                    1992 yılında Ajans Press’in yönetimini Mehmet Ali Özkan devraldı. Bu tarihte anonim şirket kuruluşu ve isim tescili gerçekleşti. 1992’den beri firma yoluna Ajans Press Medya Takip Merkezi A.Ş. olarak devam etmekte.

                    Medya takip sektörünün en saygın uluslararası örgütleri olan Uluslararası Kupür Büroları Federasyonu (FIBEP), Uluslararası Radyo Televizyon Takip Derneği (IABM) ve Uluslararası İletişim Ölçme ve Değerlendirme Birliği (AMEC) üyeliklerine imza atarak, dünyanın önde gelen medya takibi şirketlerinin arasına girdi. Kaliteli ve hızlı bilgi için ülkemizi uluslararası camiaya, uluslararası camiayı da ülkemize taşıyan bir köprü oldu.
                </p>
            </div>
        </div>
    </div>
    <div class="container-description">
        <div class="container-description-other">
            <div class="container-description-other__title">
                <span>
                    MUHASEBE PROGRAMI İLE BAŞLADIK,
                    12 YILDA TÜM E-DÖNÜŞÜM SÜREÇLERİMİZİ MİKRO YAZILIM İLE TAMAMLADIK.
                </span>
            </div>
            <div class="container-description-other__text">
                <p>
                    Ajans Press Genel Müdürü Doruk Özkan, Mikro Yazılım ile işbirliklerini şöyle anlatıyor: “2004 yılından bu yana Mikro Yazılım kullanan Ajans Press, Mikro Yazılım ile işbirliğine ilk olarak muhasebe programı ile başladı. Sonrasında şirketimizin tüm kaynaklarını verimli şekilde yönettiğimiz Mikro ERP’ye geçiş yaptık. 12 yıllık işbirliğimiz süresince bize tüm süreçlerimizde koşulsuz müşteri memnuniyeti ilkesi ile destek verdiler. Mikro Yazılım’ı baştan bu yana tercih etmemizin nedeni programın kullanıcı dostu ve sorunsuz olmasıdır.

                    Muhasebe yönetim süreçleri ile başlayan sürecimizi, şu anda tüm e-dönüşümümüze Mikro Yazılım ile gerçekleştirerek devam etmekteyiz.
                </p>
            </div>
        </div>
    </div>
    <div class="story-citation">
        <div class="story-citation__text">
            <p>“12 yıl önce Mikro Yazılım ile başladığımız işbirliğimiz, tüm e-süreçlerimizi yönettiğimiz bir iş ortaklığına dönüştü. İşini kolay bir şekilde yönetmek isteyen tüm şirketlere Mikro Yazılım’ı tavsiye ediyoruz.”</p>
        </div>
        <div class="story-citation__person">
            <span>Doruk Özkan</span>
            <span>Ajans Press Genel Müdürü</span>
        </div>
    </div>
    <div class="container-description story-description-reverse">
        <a href="">
            <div class="container-description__img">
                <img src="dist/images/story-detail/story-video.png" alt="">
            </div>
        </a>
        <div class="container-description-other">
            <div class="container-description-other__text">
                <p>
                    Mikro’nun e dönüşüm hizmetleri olan e-Mikro hizmetlerini 2016 yılı itibarıyla kullanmaya başladık. Hali hazırda aylık yaklaşık 500 adet e-fatura ve 400 adet e-arşiv faturası iletim işlemini e-Mikro hizmetlerini kullanarak gerçekleştirmekteyiz. e-Mikro sayesinde kağıt fatura düzenlemenin getirdiği zaman kaybı ve maliyetinden kurtulup gelen ve giden faturalarımıza çok daha hızlı bir şekilde ulaşabilmekteyiz. Kullanmakta olduğumuz e-Mikro hizmetleri sayesinde ödeme, teyit ve muhasebe gibi süreçlerimiz çok daha basitleşerek en üst seviyede kontrol altına alınmıştır. Ayrıca, Mikro Yazılım’ın ücretsiz olarak sunduğu saklama hizmetiyle tüm faturalarımız 10 yıl boyunca Mikro Yazılım güvencesiyle saklanarak güvence altına alınmaktadır.

                    İşimizi kolaylaştıran ve muhasebemizin sorunsuz işleyişini sağlayan Mikro Yazılım’ı tüm firmalara öneriyoruz.”
                </p>
            </div>
        </div>
    </div>
    <div class="container-description">
        <div class="story-detail">
            <div class="story-detail__title">
                <span>Detaylar</span>
            </div>
            <div class="story-detail-item">
                <div class="story-detail-item__title">
                    <span>Başlangıç Tarihi</span>
                </div>
                <div class="story-detail-item__button">
                    <a href="#">2004</a>
                </div>
            </div>
            <div class="story-detail-item">
                <div class="story-detail-item__title">
                    <span>Kullanılan Ürünler</span>
                </div>
                <div class="story-detail-item__button">
                    <a href="#">Mikro ERP</a>
                    <a href="#">E-Mikro</a>
                </div>
            </div>
        </div>
    </div>
    <div class="story-detail-back__button">
        <a href="#"><i class="fas fa-angle-left"></i>Geri</a>
    </div>
    <div class="story-products-wizard">
        <div class="story-products-wizard-left">
            <div class="story-products-wizard-left-content">
                <div class="story-products-wizard-left-content__title">
                    <span>Ürün<strong>Sihirbazı</strong></span>
                </div>
                <div class="story-products-wizard-left-content__hr">

                </div>
                <div class="product-detail-section3-left-content-button">
                    <a href="#" title="Sizin İçin Doğru Ürünü Seçin" class="product-detail-section3-left-content-button__wizard">Sizin İçin Doğru &nbsp;<strong>Ürünü Seçin</strong><span><i class="fas fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
        <div class="story-products-wizard-right">
            <img src="/frontend/dist/images/story/product-wizard.png" alt="">
        </div>
    </div>
</div>
-->